JobId,MQ_INTERFACE,CONSUMERS_GROUP_ID,ERROR_MSGS_TRIES,PUBLISH_JMX,DB_LOG_INTERFACE,DB_LOG_SCHEMA_NAME,DB_LOG_FILTERED_MESSAGES,DB_LOG_ERRORED_MESSAGES,MQ_TIMEZONE,SOURCE_TIMEZONE,SKIP_ERRORED_MSG
{{CONSUMER_JOB_ID}},Kafka,MQConsumerGroupProd,3,TRUE,Cassandra,k2view_mq_consumer,TRUE,TRUE,US/Eastern,UTC,TestTopic|TestTopic2